#addArtist {
    float : right;
    margin-right : 20px;
    margin-bottom : 20px;
}

#artist_table_1 img {
    width : 125px !important;
    height : 75px !important;
    object-fit : cover;
}

#ShowItem {
    .story {
        padding: 10px;
        height : 100%;
        overflow-y: auto;
    }
    .show-story {
        height : 100%;
    }
}
