.hvr-shutter-out-horizontal img {
	height : 225px;
	object-fit : cover;
	width : 100%;
}
.w3l-movie-gride-agile {
	box-shadow : none;
	border : 1px solid #999999;
	width : 15%;
	margin-right : 1.5%;
}
.w3_list_film {
	display : flex;
	flex-wrap : wrap;
}
.mid-1 {
	padding : 0 7px;
}
.w3_agile_banner_bottom_grid {
	box-shadow : 0px 0px 2px #fff;
}
