.col-md-3 {
	img {
	height: 150px;
    width: 280px;
    object-fit: cover;
	}
}
.info {
	h3 {
		margin : 20px 0;
	}
	p {
		display: flex;
    	align-items: center;
    	i {
    		font-size : 5px;
    		margin : 0 5px;
    	}
	}
}
.list-saved-video ul {
	padding-left : 30px;
	a {
		color : white;
	}
	li {
		display : flex;
		align-items : center;
		background : #252525;
		padding : 10px;
		img {
			width: 180px;
		    height: 100px;
		    object-fit: cover;
		    margin : 0 20px;
		}
	}
}
.box-overlay {
	position : relative;
}
.overlay {
	position: absolute;
    height: 50px;
    top: 200%;
    width: 100%;
    background: #252525;
    justify-content: center;
    display: flex;
    color: white;
    align-items: center;
    i {
    	margin-right : 10px;
    }
}