.w3l-movie-gride-agile {
  padding: 0 7px !important;
  border: 1px solid #999999;
  width: 23%;
  margin-right: 2%;
  box-shadow: none;
}

.w3l-movie-gride-agile .hvr-shutter-out-horizontal {
  width: 100%;
}

.w3l-movie-gride-agile .hvr-shutter-out-horizontal img {
  width: 100%;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
}

.w3l-movie-gride-agile .ribben.two {
  left: 10%;
}

.filter {
  padding: 20px;
  border: 1px solid #999999;
}

.filter label {
  font-weight: initial;
}

.filter .text-bold {
  color: #FFF;
  margin-bottom: 3px;
}

.filter .btn {
  width: 100%;
  color: black;
}

.form-filter {
  display: flex;
  justify-content: space-between;
}

.box-filter {
  margin-bottom: 10px;
}

.col-md-3 {
  padding: 0;
}

.btn-secondary {
  background: #252525;
}

.select2-container--default .select2-selection--multiple {
  background: black;
  border-color: #999999;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: #252525;
  color: white;
}

.select2-results__options {
  background: black;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #252525;
}

.form-control {
  background: black;
}

.list-film {
  display: flex;
  flex-wrap: wrap;
}

