.fb_iframe_widget iframe {
  width: 90px !important;
  height: 60px !important;
}

._2tga._8j9w {
  height: 60px;
}

.modal-content {
  width: 100%;
  height: 100%;
}

._3vtv {
  border-radius: 50%;
  height: 12px;
  padding: 1px;
  height: 65px;
  width: 65px;
}

