#addNews {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

#news_table_1 img {
  width: 125px !important;
  height: 75px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

